/* ==========================================================================
   Estilos generales para reducir el tamaño de los componentes en Primefaces
   ========================================================================== */
/* .ui-widget, .ui-widget .ui-widget {
	font-size: 95% !important;
} */

table {
	font-size: 99% !important;
}

/* ==========================================================================
   Estilos Captcha
   ========================================================================== */
.captchaPanel {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ==========================================================================
   SelectOneMenu
   ========================================================================== */
.fixOneMenu .ui-selectonemenu-trigger {
	width: 25px !important;
}

/* ==========================================================================
   Inputs
   ========================================================================== */
input {
	cursor: text;
}

/* ==========================================================================
   Required Inputs
   ========================================================================== */
.required:after {
	content: " *";
	color: red;
}

/* ==========================================================================
   Fieldsets
   ========================================================================== */
fieldset.fieldSetStacktrace {
	background-color: rgb(115, 135, 156);
	border: none;
}

fieldset.fieldSetStacktrace>legend {
	width: 14%;
	padding-top: 4px !important;
	padding-bottom: 0px !important;
}

fieldset.fieldSetStacktrace .ui-outputpanel {
	font-weight: bold;
}

/* ==========================================================================
   Panel Grid
   ========================================================================== */
.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.panelgrid-white .ui-panelgrid-content {
	border: none;
}

.ui-panelgrid-content .ui-panelgrid-cell input, .ui-panelgrid-content .ui-panelgrid-cell .ui-selectonemenu
	{
	width: 100%;
}

/* ==========================================================================
   Dialogs
   ========================================================================== */
.ui-widget-overlay {
	opacity: 0.40;
}

/* ==========================================================================
   Icons
   ========================================================================== */
.iconTitle {
	font-size: 40px;
	margin-right: 1%;
}

/* ==========================================================================
   Tabs
   ========================================================================== */
.ui-tabs .ui-tabs-nav.ui-widget-header li a {
	color: #005682;
	border-color: #DDDDDD;
	border-bottom: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	margin-top: -7px;
}

/* ==========================================================================
   Sign images
   ========================================================================== */
.imgFirma {
	margin-top: 15%;
	border: 2px solid #73879C;
}

/* ==========================================================================
   Users
   ========================================================================== */
.datalist-no-border div.ui-datalist-content {
	border: none;
}